<!DOCTYPE html>
<html>
  <head>
    <title>Book Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <% if(user) { %>
      <% include partials/header.ejs %>
    <% } else if(author) {%>
      <% include partials/author-header.ejs %>
    <% } else { %>
      <% include partials/header.ejs %>
    <% } %>
    <div class="page-head">
      <div></div>
      <a class="back" href="/author/">Back</a>
    </div>
    <div class=" wrapper">
    <h1 class="sub-section">Book Details Section</h1>
    <ul class="book-list">

    <% book.forEach(ele => {%>
    <li>
      <div class="book-card-detail">
        <p><small>Title:</small> <%= ele.title %></p>
        <p><small>Author:</small> <%= ele.author.name %></p>
        <p><small>Description:</small> <%= ele.description %></p>
        <p><small>Pages:</small> <%= ele.pages %></p>
        <p><small>Created:</small> <%= ele.created.toLocaleDateString().split('/').reverse().join('-') %></p>
        <p><small>Tags:</small> <%= ele.tags %></p>
      </div>
      <% if(author && !user) { %>
      <div class="modify-details">
        <div><a href='/books/<%= ele.id %>/edit'><i class="far fa-edit"></i></a></div> 
        <div><a href='/books/<%= ele.id %>/delete'><i class="fas fa-trash-alt"></i></a></div>
      </div>
      <% } %>
    </li>
    <% }) %> 
    </ul>
  </div>
  <% include partials/footer.ejs %>
  </body>
</html>
