<!DOCTYPE html>
<html>
  <head>
    <title>Book Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <% if(user) { %>
      <% include partials/header.ejs %>
    <% } else if(author) {%>
      <% include partials/author-header.ejs %>
    <% } else { %>
      <% include partials/header.ejs %>
    <% } %>
    <div class="page-head">
      <h1>Books Inventory</h1>
      <a class="back" href="/">Back</a>
    </div>
    <div class="greet"><%= user ? 'Hello ' + user.name : null %></div>
    <!-- <a href="/books/new" class="add-author">Add Books</a> -->
    <ul class="book-list">

    <% book.forEach(ele => {%>
      <li>
        <a href='/books/<%= ele.id %>'>
          <div class="book-card">
            <p><small>Title:</small> <%= ele.title %></p>
            <p><small>Author:</small> <%= ele.author.name %></p>
            <p><small>Price:</small> <%= ele.price %></p>
            <button class="buy-book">Buy</button>
            <!-- <div class="modify-icons">
              <div><a href='/books/<%= ele.id %>/edit'><i class="far fa-edit"></i></a></div>
              <div><a href='/books/<%= ele.id %>/delete'><i class="fas fa-trash-alt"></i></a></div>
            </div> -->
          </div>
        </a>
        <!-- <div class="modify">
          <a href='/books/<%= ele.id %>/edit'>Edit</a>
          <a href='/books/<%= ele.id %>/delete'>Delete</a>
        </div> -->
      </li>
      <% }) %> 
    </ul>
    <% include partials/footer.ejs %>
  </body>
</html>
