<!DOCTYPE html>
<html>
  <head>
    <title>Book Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Books Inventory</h1>
    <a href="/books/new">Add New Books</a>
    <ul class="book-list">

    <% book.forEach(ele => {%>
    <li>
      <a href='/books/<%= ele.id %>'>
        <div class="book-card">
          <p><small>Title:<br></small> <%= ele.title %></p>
          <p><small>Author:<br></small> <%= ele.author.name %></p>
        </div>
      </a>
      <div class="modify">
        <a href='/books/<%= ele.id %>/edit'>Edit</a>
        <a href='/books/<%= ele.id %>/delete'>Delete</a>
      </div>
    </li>
    <% }) %> 
  </body>
</html>
