<!DOCTYPE html>
<html>
  <head>
    <title>Edit Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="page-head">
      <div></div>
      <a class="back" href="/users/">Back</a>
    </div>
    <div class="wrapper">
      <h1>Edit Book</h1>
     </div>
      <form class="add-book" action="/books/<%=book.id %>/update" method="POST">
        <input type="text" name="title" placeholder="Book Title" value= "<%= book.title%>" >
        <select name="author">
          <% authors.forEach(author => { %>
          <option value="<%=author._id%>"><%= author.name %></option>
        <% }) %>
        <textarea type="text" placeholder="Description" name="description"><%=book.description%></textarea>
        <input type="number" name="pages" placeholder="Pages" value= "<%= book.pages%>">
        <input type="date" name="created" placeholder="created" value= "<%= book.created.toLocaleDateString() %>">
        <input type="text" name="tags" placeholder="tags" value= "<%= book.tags%>">
        <div class="submit">
          <input type="submit" value="Update">
        </div>
      </form>
    </div>
  </body>
</html>
